{% load static %}
div{color=red;
text-align:center;
margin-top: 200px;
background-image:url("images/news.jpg")

}
body{background: black;
	color:red;
background-image:url("images/news.jpg")

}
hr{color:white;}