<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% block title_block %} 
    {{post.title}}
{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <p id="date">Published on {{post.publish}} by {{post.author|title}}</p>
    {{post.body|linebreaks}}<br>
    <div class="container" align="center">
    <a href="/{{post.id}}/share" class="btn btn-lg btn-success">Share Post by Email</a>
    </div><hr>
    {% with comments.count as comments_count %}
    <h2>{{comments_count}} comment{{comments_count|pluralize}}</h2>
    {% endwith %}
    {% if comments %}
       {% for comment in comments %}
        <p id="ch">Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
        <div class="cb">{{comment.body|linebreaks}}</div>
       {% endfor %}<hr>
    {% else %}
       <p>There are no comments yet !!!</p>
    {% endif %}
    {% if csubmit %}
    <h2>Your Comment added Successfully !!!!</h2>
    {% else %}
    <h4>Submit your valuable comments.</h4>
    <form method="POST">
     {{form.as_p}}
     {% csrf_token %}
     &emsp;&emsp;&emsp;<input type="submit" class="btn btn-success" name="" value="Submit comment">
     </form>
     {% endif %}
    <br><br>
{% endblock %}
