<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Tp news</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/demo2.css" %}'>
	
</head>
<body>
	<h2> Bollywood is Trailing to south cinema</h2><hr>
	<ul>
	<li>RRR movie is still roaring in cinemas.</li>
	<li> Ranbir and Alia Tied the knot on 14th apr 2022</li>
	<li> KGF3 is being planned: source</li>
	</ul>
	<img src='{%static "images/rrr2.jpg" %}' alt="image not found" >
	<img src='{% static "images/RRR1.jpg" %}' alt="image not found" width=20% hight="400px">
	<img src='{% static "images/ranalia.jpg" %}' alt="image not found">
		
	</body>
	</html>
	