<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Tp news</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/demo1.css" %}'>
	
</head>
<body>
	<div class="container">
		<h2>Welcome to <i>Tp</i> news portal</h2>
		<h6><i>Continuous news updates...</i></h6><hr>
		<a type="button" class="btn btn-primary" href="bolly/" >B-Town News</a>&nbsp
		<a type="button" class="btn btn-primary" href="politics/" >Politics News</a>&nbsp
		<a type="button" class="btn btn-primary" href="sports/" >Sports News</a>&nbsp
		
	</div>
	</body>
	</html>
	