<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Tp news</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href='{% static "css/demo2.css" %}'>
	
</head>
<body>
	<h2>Election is Round the Corner in india</h2><hr>
	<ul>
	<li>Narendra modi going to paris for 2 days visit.</li>
	<li>Center reduse the price for commodity.</li>
	<li>Election in Gujrat next year nov 2022.</li>
	</ul>
	<img src='{%static "images/modi.jpg" %}' alt="image not found" >
	<img src='{% static "images/petrol.jpg" %}' alt="image not found" width=20% hight="200px">
	<img src='{% static "images/gjelection.jpg" %}' alt="image not found">
		
	</body>
	</html>
	